body {
    font-family: Arial, sans-serif;
    background-image: url('bg4.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    
}

.container {
    width: 50%;
    margin-top: 144px;

    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(239, 237, 237);
    background-color: rgba(0, 0, 0, 0);
    
    
}
.progress-bar {
    width: 50%;
    height: 20px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    border-radius: 4px;
    margin-left: 150px;
   
}

#progress {
    height: 100%;
    background-color: rgba(180, 0, 0, 0.918);
    border-radius: 4px;
}
#myLink {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}
h2 {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Audiowide';
    font-size: 30px;
    
}

label {
    font-weight: bold;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1aa0d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}